@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
:root{

    --background : #000000;
    --red : #C20000;
    --blue : #001F70;
    --gradient : linear-gradient(180deg, #000000 0%, rgba(83, 83, 83, 0.577381) 25%, rgba(196, 196, 196, 0) 87.5%);
    --black1: #1E1C21;
    --font : 'Titillium Web', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body{ /*corpo da página*/
    font-family: var(--font); /*fonte padrão quando não houver outra estilização*/
    font-size: 16px; /*tamanho da fonte quando não houver outra estilização*/
    background-color: var(--background); /*cor de fundo geral da página*/
}

.topo{ /*elemento pai que receberá o content*/
    width: 100%; /*largura do topo*/
    height: 5em; /*altura do topo (5 * 16px = 80 px => 5em;) */
    /* background-color: azure; cor de fundo do topo */
}

.content{ /*elemento que receberá o logo e o "menu"*/ 
    width: 95%; /*largura do content*/
    height: 100%; /* altura do content, que será 100% da altura do topo*/
    max-width: 75em; /*máxima largura do content (75em; = 75*16px = 1200px*/
    margin: auto; /*margin auto para distribuir o content ao centro do topo*/
    /* background-color: burlywood; cor de fundo do content */
}

img{ /*logo*/
    width: 100%; /*largura do logo*/
}

.topo img{ /*logo*/
    max-width: 21.18em; /* máxima largura do logo (21.18em; = 21.18 * 16px = 339px)*/
}

.flex-center-bt{ /*classe para posicionamento do content*/
    display: flex; /*permite que os elementos fiquem lado a lado*/
    align-items: center; /*alinhamento vertical dos elementos dentro do content*/
    justify-content: space-between; /*posicionar os elementos distribuindo os espaços entre eles*/
}

.menu{ /*área que vai receber a lista */
    width: 100%; /*largura do menu*/
    max-width: 50em; /*máxima largura do menu (50em; = 50 / 16px = 800px */
    
}
.menu ul{ /*lista dos itens do menu*/
    list-style-type: none; /*remover os marcadores*/
    display: flex; /* permite que os itens da lista fiquem lado a lado*/
    align-items: center; /*alinhamento vertical dos elementos dentro do menu*/
    justify-content: space-between;/*posicionar os elementos distribuindo os espaços entre eles*/

}
.menu ul a{ /*estilização dos itens do menu*/
    color:#fff; /*cor da fonte*/
    text-decoration: none; /* remover o sublinhado*/
    font-size: 1.5em; /*tamanho da fonte (1.5 em = 1.5 * 16px = 24px) */ 
    padding: 0.9em .5em; /*espaçamento interno dos itens*/
    text-transform: uppercase; /*alterar para letras maiúsculas*/

}
.menu a:hover{ /*adicionar o hover nos itens do menu*/
    background-color: var(--red); /*cor de fundo do hover,quando passar o mause sobre cada item ficará nessa cor*/

}
#menu-bars{ /*icone de menu que será usado em telas menores*/
    display: none; /*oculto para esse tamanho de tela*/

}

.banner{ /* estilização da seção banner*/
    width: 100%; /*largura da seção*/
    position: relative; /*posição relativa, o banner position será posicionado em relação ao banner*/
}
.banner-position{ /*div criada para ficar sobre o picture para então receber os demais elementos*/
    width: 100%; /*largura da div*/
    height: 100%; /*altura da div*/
    /* background-color: rgba(0, 0, 255, 0.377); */ /*cor de fundo da div*/
    position: absolute; /*posição absoluta em relação ao banner , ou seja ficará fixa sobre a picture*/
    top: 0; /*top 0,ficará encostado no topo*/
}
.banner-content{ /*div criada para receber a div do conteudo limitando-se como grid*/
    width: 95%; /*largura da div*/
    height: 100%; /*altura da div*/
    /* background-color: rgba(222, 184, 135, 0.356); */ /*cor de fundo da div*/
    margin: auto; /*margin que centralizará a div*/
    display: flex; /* permite que os elementos se posicionem lado a lado*/
    justify-content: flex-end; 
}
.banner-text{ /* div onde serão colocados o texto*/
    width: 50%; /*largura da div */
    height: 100%; /* altura da div*/
    /* background-color: chartreuse; */ /*cor de fundo da div*/
    display: flex; /* permite posicionar os elementos lado a lado*/
    flex-direction: column; /*posiciona os elementos lado a lado em forma de coluna*/
    justify-content: center; /*centraliza os itens verticalmente*/
    align-items: center; /* centraliza os itens horizontalmente*/
    color: #fff; /* cor das fontes*/
}
.banner-text h1{ /*título h1*/
    font-size: 3em; /* tamanho da fonte do titulo*/
}
.banner-text p{ /*parágrafo*/
    font-size: 1.5em; /*tamanho da fonte*/
}
.banner-text a{ /*link inscreva-se*/
    font-size: 1.87em; /* tamanho da fonte*/
    text-transform: uppercase; /*letra maiúscula*/
    color: #fff; /*cor da fonte*/
    text-decoration: none; /*sem sublinhado*/
    background-color: var(--red); /*cor de fundo do link*/
    padding: 0.5em 1em; /* espaçamento interno do link*/
    border-radius: 0.5em; /*arredondamento da borda*/
    margin-top: 1em; /*margem entre o link e o parágrafo*/
}

.jogos{ /*section criada para receber o content dos jogos*/ 
    width: 100%; /*largura da section*/
    height: 7.5em; /*altura da section*/
    /* background-color: chartreuse; */ /*cor de fundo da section*/
    color: #fff;
}
.jogos ul{ /* estilização dos links dos jogos*/
    list-style-type: none; /*sem marcadores*/
    width: 100%; /*largura da ul*/
}

.jogos ul a:hover img{ /*efeito especial que aumenta as imagens dos jogos quando passado o mouse em cima*/
    transition:0.2s; /*tempo que leva para o efeito acontecer*/
    transform: scale(1.1); /*em quanto aumenta a imagem*/ 
}

.about{ /*estilização da section principal*/
    width: 100%; /*largura da section*/
    height: 31.25em; /*altura da section (31.25 *16px)*/
    background-color: var(--blue); /*cor de fundo da section*/
    position: relative; /*posição relativa para que o about-position possa ficar sobre ele*/
}

.about-angulation{ /*estilização da div que segura a faixa preta*/
    width: 100%; /*largura da div*/
    height: 100%; /* altura da div*/
    display: flex; /* permite o posicionamento dos elementos lado a lado*/
    justify-content: center; /*posiciona os elementos centralizando na vertical*/
    align-items: center; /*posicionamento horizontal dos elementos*/
    /* background-color: violet; */ /*cor de fundo da div*/
}

.angulation{ /* estilização da div da faixa preta inclinada*/
    width: 100%; /*largura da div*/
    height: 24em; /*altura da div*/
    background-color: #000; /*cor de fundo da div*/
    transform: skewY(-3deg) /*inclinação da div no eixo y em -3°*/
}

.about-position{ /*estilização da div que receberá a div do conteudo do texto e da imagem*/
    width: 100%; /*largura da div*/
    height: 100%; /*altura da div*/
    /* background-color: rgba(255, 0, 0, 0.397); */ /*cor de fundo da div*/
    position: absolute; /*posicão absoluta da div, vai ficar fixada emcima da section principal*/
    top: 0; /*encostado no topo da section*/
}

.about-text{ /*estilização da div que receberá o titulo e texto*/
    width: 50%; /*largura da div*/
    color: #fff; /*cor da fonte*/
    text-align: justify; /*alinhamento do texto*/
}

.about-text h2{ /*estilização do titulo h2*/
    font-size: 2.18em; /*tamanho da fonte*/
    margin-bottom: 0.5em; /*espaçamento inferior*/
}

.about-text p{ /*estilização do texto*/
    font-size: 1.125em; /*tamanho da fonte*/
    margin-bottom: 1em; /*espaçamento inferior*/
}

.about-position img{ /*estilização da imagem*/
    max-width: 31.87em; /*máxima largura*/
}

.jogos-ao-vivo, .jogos-em-breve{
    font-family:'Roboto', sans-serif;
    font-weight: bold;
    font-size: 1.575em; 
    /* border-right: solid 1px #fff; */
}

.linha{
    
    height: 3em;
    border:solid 1px #fff;
}

.partida{
    width: 9.5em;
    /* background-color: red; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 1em;
}

.partida img{
    max-width: 1.8em; /*54px*/
}

.time1, .time2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
}

.time1 img{
    margin-left: 0.5em;
}

.time2 img{
    margin-right: 0.5em;
}

.bg-noticias{
    width: 100%;
    height: auto;
    background-color: var(--black1);
}

.noticias{
    width: 73%;
    height: auto;
    /* background-color: darkgray; */
}

.noticias h2, .proximos-jogos h2{
    color: #fff;
    margin: 0.5em 0;
    font-size: 2.1875em;
    text-transform: uppercase;
    text-align: center;
}

.proximos-jogos{
    width: 25%;
    height:54.8125em;
    /* background-color: aquamarine; */
}

.newscard{
    width: 100%;
    max-width: 15em;
    height: 23.125em;
    background: var(--gradient);
    color: #fff;
    margin-bottom: 1.5em;
    box-shadow: 0px 0px 15px rgb(59, 59, 59);
}

.noticias h3{
    padding: 0.5em;
    text-transform: uppercase;
}

.noticias p{
    padding: 0em 0.7em;
    text-align: justify;
}

.wrap{
    flex-wrap: wrap;
}

.proximas-partidas{
    background: var(--gradient);
    height: 46.875em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 0px 15px rgb(59, 59, 59);
}

.game{
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    color:#fff;
}

.times{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.times div{
    display: flex;
    align-items: center;
}

.times p{
    font-size: 1.25em;
    font-family: 'Roboto';
}

.times > p{
    margin: 0 1em;
}

.times img{
    width: 2.5em;
}

.rodape{
    padding: 1em 0;
    color:#fff;
}
.logo-rodape{
    max-width: 18.75em;
}
.links-footer{
    width: 33%;
    display: flex;
    justify-content: space-between;
}
.links h2{
    font-size: 1.5em;
    color: #fff;

}
.links ul{
    color:#fff;
    margin-top: 0.5em;
}
.links li{
    margin-left: 2em;
}
.links a{
    text-decoration: none;
    color:#fff;
}
.sociais{
    width: 33%;

}
.newslatter h2{
    font-size: 0.875em;
    margin-bottom: 0.5em;
}
.newslatter form{
    display: flex;
}
.newslatter input[type="email"]{
    width: 12.5em;
    height: 2.5em;
    font-size: 1.1em;
    padding-left: 1em;
}
.newslatter input[type="email"]::placeholder{
    color: rgb(102, 102, 102);
    font-weight: bold;
}
.newslatter input[type="submit"]{
    width: 9.75em;
    height: 2.5em;
    font-size: 1.1em;
    background-color:var(--red);
    color: #fff;
    text-transform: uppercase;
}
.siga-nos{
    margin-top: 1em;
}

.copyright{
    display: flex;
    justify-content: center;
}


/* página cadastro */

/* Resolução de 992 até 1199 (Tablet)*/
@media screen and (max-width: 74.9375em){ /*configuração tela máxima largura 74.93em; = 1199px)*/

    .content{
        max-width: 74.9375em;
        width: 80%;
    }
   
    .topo img{
        max-width: 74.9375em;
        width: 10em;
    }

    .menu{
        font-size: .7em;
        margin-left:2.5em;
    }

    .about-position img{
        max-width:74.9375em;
        width: 40%;
    }

    .jogos-ao-vivo{
        max-width: 74.9375em;
        width: 15.625em;
        font-size: 1.2em;
    }

    .jogos-em-breve{
        max-width: 74.9375em;
        width: 23.4375em; 
        font-size: 1.2em;
    }
    
    .rodape img{
        width: 20%;
    }

    .siga-nos h2{
        font-size: 90%;
    }

    .newslatter form{
        font-size: 80%;
    }

    .newslatter h2{
        text-align: center;
    }

    .siga-nos img{
        width: 75%;
    }

    .noticias{
        width: 70%;
    }

    .times p{ 
        margin: 0.2em;
    }

}
/* Resolução de 768 até 991 (Tablet)*/
@media screen and (max-width: 61.9375em){ /*configuração tela máxima largura 47.93em; = 767px)*/

    .content{
        max-width: 61.9375em;
        width: 95%;
    }

    .banner-text h1{
        font-size: 38px;
    }

    .banner-text p{
        font-size: 16px;
    }

    .banner-text a{
        font-size: 16px;
    }

    .newslatter form{
        font-size: 60%;
    }

    .about-text{
        width: 58%;
        
    }

    .about-text h2{
        font-size: 25px;
    }

    .jogos-ao-vivo{
        max-width: 61.9375em;
        width: 12.5em;
        font-size: 1.2em;
    }

    .jogos-ao-vivo h2{
        font-size: 25px;
    }

    .jogos-em-breve h2{
        font-size: 25px;
    }

    .links h2{
        font-size: 18px;

    }

    .links li{
        margin-left: 0.5em;
        list-style-type: none;
        
    }

    .copyright{
        font-size: 14px;
    }

    .siga-nos{
        font-size: 13.5px;
    }

    .noticias h2{
        font-size: 25px;
    }
    .proximos-jogos h2{
        font-size: 25px;
    }
}

/* Resolução de 576 até 767 (Tablet)*/

@media screen and (max-width: 47.9375em){ 
}