@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
:root{

    --background : #000000;
    --red : #C20000;
    --blue : #001F70;
    --gradient : linear-gradient(180deg, #000000 0%, rgba(83, 83, 83, 0.577381) 25%, rgba(196, 196, 196, 0) 87.5%);

    --font : 'Titillium Web', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body{ /*corpo da página*/
    font-family: var(--font); /*fonte padrão quando não houver outra estilização*/
    font-size: 16px; /*tamanho da fonte quando não houver outra estilização*/
    background-color: var(--background); /*cor de fundo geral da página*/
}

.topo{ /*elemento pai que receberá o content*/
    width: 100%; /*largura do topo*/
    height: 5em; /*altura do topo (5 * 16px = 80 px => 5em;) */
    /* background-color: azure; cor de fundo do topo */
}

.content{ /*elemento que receberá o logo e o "menu"*/ 
    width: 80%; /*largura do content*/
    height: 100%; /* altura do content, que será 100% da altura do topo*/
    max-width: 75em; /*máxima largura do content (75em; = 75*16px = 1200px*/
    margin: auto; /*margin auto para distribuir o content ao centro do topo*/
    /* background-color: burlywood; cor de fundo do content */
}

img{ /*logo*/
    width: 100%; /*largura do logo*/
}

.topo img{ /*logo*/
    max-width: 21.18em; /* máxima largura do logo (21.18em; = 21.18 * 16px = 339px)*/
}

.flex-center-bt{ /*classe para posicionamento do content*/
    display: flex; /*permite que os elementos fiquem lado a lado*/
    align-items: center; /*alinhamento vertical dos elementos dentro do content*/
    justify-content: space-between; /*posicionar os elementos distribuindo os espaços entre eles*/
}

.menu{ /*área que vai receber a lista */
    width: 100%; /*largura do menu*/
    max-width: 50em; /*máxima largura do menu (50em; = 50 / 16px = 800px */
    
}
.menu ul{ /*lista dos itens do menu*/
    list-style-type: none; /*remover os marcadores*/
    display: flex; /* permite que os itens da lista fiquem lado a lado*/
    align-items: center; /*alinhamento vertical dos elementos dentro do menu*/
    justify-content: space-between;/*posicionar os elementos distribuindo os espaços entre eles*/

}
.menu ul a{ /*estilização dos itens do menu*/
    color:#fff; /*cor da fonte*/
    text-decoration: none; /* remover o sublinhado*/
    font-size: 1.2em; /*tamanho da fonte (1.5 em = 1.5 * 16px = 24px) */ 
    padding: 0.9em 2em; /*espaçamento interno dos itens*/
    text-transform: uppercase; /*alterar para letras maiúsculas*/

}
.menu a:hover{ /*adicionar o hover nos itens do menu*/
    background-color: var(--red); /*cor de fundo do hover,quando passar o mause sobre cada item ficará nessa cor*/

}
#menu-bars{ /*icone de menu que será usado em telas menores*/
    display: none; /*oculto para esse tamanho de tela*/

}

.banner{ /* estilização da seção banner*/
    width: 100%; /*largura da seção*/
    position: relative; /*posição relativa, o banner position será posicionado em relação ao banner*/
}
.banner-position{ /*div criada para ficar sobre o picture para então receber os demais elementos*/
    width: 100%; /*largura da div*/
    height: 100%; /*altura da div*/
    /* background-color: rgba(0, 0, 255, 0.377); */ /*cor de fundo da div*/
    position: absolute; /*posição absoluta em relação ao banner , ou seja ficará fixa sobre a picture*/
    top: 0; /*top 0,ficará encostado no topo*/
}
.banner-content{ /*div criada para receber a div do conteudo limitando-se como grid*/
    width: 80%; /*largura da div*/
    height: 100%; /*altura da div*/
    /* background-color: rgba(222, 184, 135, 0.356); */ /*cor de fundo da div*/
    margin: auto; /*margin que centralizará a div*/
    display: flex; /* permite que os elementos se posicionem lado a lado*/
    justify-content: flex-end; 
}
.banner-text{ /* div onde serão colocados o texto*/
    width: 50%; /*largura da div */
    height: 100%; /* altura da div*/
    /* background-color: chartreuse; */ /*cor de fundo da div*/
    display: flex; /* permite posicionar os elementos lado a lado*/
    flex-direction: column; /*posiciona os elementos lado a lado em forma de coluna*/
    justify-content: center; /*centraliza os itens verticalmente*/
    align-items: center; /* centraliza os itens horizontalmente*/
    color: #fff; /* cor das fontes*/
}
.banner-text h1{ /*título h1*/
    font-size: 3em; /* tamanho da fonte do titulo*/
}
.banner-text p{ /*parágrafo*/
    font-size: 1.5em; /*tamanho da fonte*/
}
.banner-text a{ /*link inscreva-se*/
    font-size: 1.87em; /* tamanho da fonte*/
    text-transform: uppercase; /*letra maiúscula*/
    color: #fff; /*cor da fonte*/
    text-decoration: none; /*sem sublinhado*/
    background-color: var(--red); /*cor de fundo do link*/
    padding: 0.5em 1em; /* espaçamento interno do link*/
    border-radius: 0.5em; /*arredondamento da borda*/
    margin-top: 1em; /*margem entre o link e o parágrafo*/
}

.jogos{ /*section criada para receber o content dos jogos*/ 
    width: 100%; /*largura da section*/
    height: 7.5em; /*altura da section*/
    /* background-color: chartreuse; */ /*cor de fundo da section*/
    color: #fff;
}
.jogos ul{ /* estilização dos links dos jogos*/
    list-style-type: none; /*sem marcadores*/
    width: 100%; /*largura da ul*/
}

.jogos ul a:hover img{ /*efeito especial que aumenta as imagens dos jogos quando passado o mouse em cima*/
    transition:0.2s; /*tempo que leva para o efeito acontecer*/
    transform: scale(1.1); /*em quanto aumenta a imagem*/ 
}

.about{ /*estilização da section principal*/
    width: 100%; /*largura da section*/
    height: 31.25em; /*altura da section (31.25 *16px)*/
    background-color: var(--blue); /*cor de fundo da section*/
    position: relative; /*posição relativa para que o about-position possa ficar sobre ele*/
}

.about-angulation{ /*estilização da div que segura a faixa preta*/
    width: 100%; /*largura da div*/
    height: 100%; /* altura da div*/
    display: flex; /* permite o posicionamento dos elementos lado a lado*/
    justify-content: center; /*posiciona os elementos centralizando na vertical*/
    align-items: center; /*posicionamento horizontal dos elementos*/
    /* background-color: violet; */ /*cor de fundo da div*/
}

.angulation{ /* estilização da div da faixa preta inclinada*/
    width: 100%; /*largura da div*/
    height: 24em; /*altura da div*/
    background-color: #000; /*cor de fundo da div*/
    transform: skewY(-3deg) /*inclinação da div no eixo y em -3°*/
}

.about-position{ /*estilização da div que receberá a div do conteudo do texto e da imagem*/
    width: 100%; /*largura da div*/
    height: 100%; /*altura da div*/
    /* background-color: rgba(255, 0, 0, 0.397); */ /*cor de fundo da div*/
    position: absolute; /*posicão absoluta da div, vai ficar fixada emcima da section principal*/
    top: 0; /*encostado no topo da section*/
}

.about-text{ /*estilização da div que receberá o titulo e texto*/
    width: 50%; /*largura da div*/
    color: #fff; /*cor da fonte*/
    text-align: justify; /*alinhamento do texto*/
}

.about-text h2{ /*estilização do titulo h2*/
    font-size: 2.18em; /*tamanho da fonte*/
    margin-bottom: 0.5em; /*espaçamento inferior*/
}

.about-text p{ /*estilização do texto*/
    font-size: 1.125em; /*tamanho da fonte*/
    margin-bottom: 1em; /*espaçamento inferior*/
}

.about-position img{ /*estilização da imagem*/
    max-width: 31.87em; /*máxima largura*/
}

.jogos-ao-vivo, .jogos-em-breve{
    font-family:'Roboto', sans-serif;
    font-weight: bold;
    font-size: 1.875em; 
    /* border-right: solid 1px #fff; */
}

.jogos-ao-vivo::after{
    content: '';
    height: 2.66em;
    border:solid 1px #fff;
    margin: 0 1em;
}

.jogos-ao-vivo h2{
    text-align: center;
}

.jogos-em-breve{
    text-align: center;
}

.partida{
    width: 9.5em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 1em;
           
}

.partida img{
    max-width: 1.8em; 
    
}

.time1,.time2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
}

.time1 img{
    margin-left: 0.5em;
}

.time2{
    margin-right: .5em;
}

.jogos{
    display: flex;
}

.noticias{
    width: 100%;
    height: 55.12em;
    background-color: #1E1C21;
    display: flex;
}

.cards{
    width: 930px;
    height: 100%;
    margin-left: 100px;
    /* background-color: yellowgreen; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cards img{
    /* margin-top: 15px; */
    width: 237px;
    height: 159px;

}

.cards p{
    width: 237px;
    height: 159px;
    text-align: justify;
    top: 0;
    color: #fff;
    
}

.text{
    font-size: 16px;
    font-family:'Roboto', sans-serif;
    background: linear-gradient(180deg, #000000 0%, rgba(83, 83, 83, 0.577381) 25%, rgba(196, 196, 196, 0) 87.5%);
    margin: auto ;
    box-shadow: 10px 10px 5px #000;
   

}

.text p{
    height: 207px;
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;    
    
}

.text span{
    text-transform: uppercase;
    font-family:'Roboto', sans-serif;
    font-size: 16px;
 
}

.proximos_jogos{
    background: linear-gradient(180deg, #000000 0%, rgba(83, 83, 83, 0.577381) 25%, rgba(196, 196, 196, 0) 87.5%);
    width: 237px;
    height: 820px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 10px 10px 5px  #000;
  
}

.jogos_futuros{
    /* background-color: chartreuse; */
    width: 221px;
    height: 78px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.jogos_futuros p{
    margin: auto;
    color: #fff;
}

.rodape{
    width: 100%;
    height: 210px;
}
.conteudo-rodape{
    width: 80%;
    height: 100%;
    /* background-color: indigo; */
    margin: auto;
    display: flex;
}

.conteiner-links-uteis{
    width: 210px;
    height: 100%;
    /* background-color: lawngreen; */
    text-decoration: none;
    color: #fff;
    
}

.links_uteis{
    margin-top: 2em;
    
}
.links_uteis a{
    text-decoration: none;
    margin-left: 2em;
    color: #fff;
    
}

.links_uteis ul{
    list-style-type: none;
}

.paginas{
    margin-top: 2em;
    color: #fff;
}
.paginas a{
    text-decoration: none;
    margin-left: 2em;
    list-style-type: none;
    color: #fff;
}

.paginas ul{
    list-style-type: none;
}

.conteiner-paginas{
    width: 210px;
    height: 100%;
    /* background-color:red; */
}

.conteiner-img{
    width: 210px;
    height: 100%;
    /* background-color:blue;  */
    padding-top: 6em;
}

.conteiner-cadastre-se{
    /* background-color: chocolate; */
    width: 522px;
    height: 100%;
    flex-direction: column;
    align-items: center;
    display: flex;
    justify-content: space-around;
   
    
}

.conteiner-cadastre-se p{
    padding-top: 1em;
    font-family:'Roboto', sans-serif;
    font-size: 16px;
    color: #fff;
    
  
}


.email{
    display: flex;
    background-color: #fff; /*cor de fundo do link*/
    padding: 0.5em 3em; /* espaçamento interno do link*/
    border-radius: 0.5em; /*arredondamento da borda*/
    margin-top: 1em; 
    
      
}

.email a{
    color:#000;
    text-decoration: none;
}
.cadastre-se{
    display: flex;
    background-color:var(--red); /*cor de fundo do link*/
    padding: 0.5em 3em; /* espaçamento interno do link*/
    border-radius: 0.5em; /*arredondamento da borda*/
    margin-top: 1em;   
}
.cadastre-se a{
    color: #fff;
    text-decoration: none;

}

   


    




@media screen and (max-width: 74.93em){ /*configuração tela máxima largura 74.93em; = 1199px)*/

}

@media screen and (max-width: 47.93em){ /*configuração tela máxima largura 47.93em; = 767px)*/

}

@media screen and (max-width: 35.93em){ /*configuração tela máxima largura 35.93em; = 575px)*/
   
}